.skills {
    width: 100%;
    height: 160px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 30px;
    overflow-x: auto;
    background: transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    margin-top: 20px;
}

.skills .skill {
    width: 100px;
    min-width: 100px;
    height: 100px;
    font-size: 32px;
    padding: 12px;
    background: linear-gradient(-45deg, rgba(249, 250, 250, 0.429), rgba(0, 0, 0, 0.452) 100%);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(1% 21%, 26% 0, 95% 14%, 100% 62%, 78% 96%, 13% 89%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.6s;
    position: relative;
}

.skills .skill small {
    font-size: 13px;
    position: absolute;
    left: auto;
    top: auto;
    opacity: 0;
}

.skills .skill:hover {
    background: linear-gradient(-45deg, rgba(249, 250, 250, 0.909), rgba(0, 0, 0, 0.452) 100%);
    transform: scale(1.1);
}

.skills .skill:hover small {
    transform: translateY(26px);
    opacity: 1;
}

@media (max-width: 665px) {
    .skills {
        width: 100%;
        height: 100px;
        padding: 12px 0;
        gap: 12px;
        margin-top: 0;
        margin-bottom: 20px;
        border-left: 26px solid transparent;
        border-right: 26px solid transparent;
    }

    .skills .skill {
        width: 60px;
        min-width: 60px;
        height: 60px;
        font-size: 22px;
        padding: 10px;
    }

    .skills .skill small {
        display: none;
    }
}