.works {
  width: 100%;
  height: auto;
  padding: 12px 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works .work {
  width: 31.5%;
  height: 100%;
  background: linear-gradient(
    -45deg,
    rgba(240, 248, 255, 0.648),
    rgba(0, 0, 0, 0.452) 100%
  );
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  transition: 0.5s;
  position: relative;
  padding: 20px;
}

.works .work:hover {
  transform: scale(1.03);
}

.works .work:hover img {
  opacity: 1;
}

.works .work img,
.works .work video {
  width: 100%;
  height: 160px;
  opacity: 0.7;
  transition: 0.5s;
  border-radius: 5px;
}

.works .work .content {
  padding: 12px 0;
}

.works .work .content h3 {
  font-size: 22px;
  color: #d5d5d5;
}

.works .work .content p {
  font-size: 15px;
  margin-top: 10px;
  font-weight: lighter;
}

.works .work .content small {
  display: block;
  margin-top: 6px;
  font-size: 15px;
}

.works .work .content a {
  display: inline-flex;
  width: 100px;
  height: 30px;
  font-size: small;
  margin-top: 12px;
  font-weight: lighter;
  color: darkgrey;
  text-decoration: none;
  background: #222;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.works .work .content a:hover {
  color: azure;
}

.works .work .content .off {
  display: inline-flex;
  width: 100px;
  height: 30px;
  font-size: small;
  margin-top: 12px;
  font-weight: lighter;
  color: darkgrey;
  text-decoration: none;
  background: #222222cb;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

@media (max-width: 665px) {
  .works {
    width: 100%;
    height: auto;
    padding: 12px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .works .work {
    width: 96%;
  }

  .works .work img {
    height: auto;
  }
}
